<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Produits</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
 <table>

    {% for product in products %}
   
    <tr>
    <td>{{ product }}</td>
    </tr>
    
    {% endfor %}

   </table> 

   <table>

    {% for produit in produits %}
   
    <tr>
    <td>{{ produit }}</td>
    </tr>
    
    {% endfor %}

   </table> 

   <pre>
    {{ dump(products) }}
    </pre>
    
    <pre>
    {{ dump(produits) }}
    </pre>
</body>
</html>